header,
main,
footer {
    padding-left: 300px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

*[id*=download-mirrors] {
    border-width: 0px;
    margin-top: -10px;
    margin-bottom: -10px;
}

ul[id*=download-mirrors]>li>div[id*=-mirrors].collapsible-body {
    border-width: 0px;
}

[id*=download-mirrors]>li {
    display: inline;
}