header,
main,
footer {
    padding-left: 300px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

*[id*=download-mirrors]>li>.collapsible-header {
    background-color: #1e1e1e;
}

*[id*=download-mirrors]>li>.collapsible-body {
    border-bottom: #1e1e1e;
}

ul[id*=-mirrors]>li {
    display: inline;
    padding: 1px;
}